#userContainer {
    position: absolute;
    bottom: 30px;
}

#userContainer ul {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
}

#userContainer li {
    cursor: pointer;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    padding: 10px 12px;
}

#userContainer button {
    letter-spacing: 1px;
}

#userContainer .signed-in li span.username {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 15px;
}

#userContainer .signed-in li:first-child {
    cursor: text;
}

#userContainer li button {
    border: none;
    background: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

#userContainer ul svg {
    width: 15px;
    margin-right: 7px;
}